.column1 {
  width: 300px;
  float: left;
  background-color: brown;
}

.column2 {
  width: 300px;
  float: left;
  background-color: rgb(165, 132, 42);
}

.column3 {
  width: 300px;
  float: left;
  background-color:rgb(98, 20, 223);
}

img {
  width: 300px;
  height: auto;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}